@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Rubik:wght@300&display=swap');

* {
   margin: 0; 
   padding: 0;
   border: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Karla, sans-serif
}

 /* Headings and home*/

 header {
     background-color: #000000;
 }

h1, h2 {
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    border-bottom: 1px solid #fff;
    border-bottom-width: 1px;
}

#home {
    background-color: #000000;
    color: #297373;
    float: left;
    font-size: 150%;
    padding: 10px;
    margin-top: 15px;
}

.page-padding {
    padding: 200px 150px 200px 150px;
}

.text-padding {
    padding: 0 200px 0 200px;
}

/* Navigation links */

.nav-bar {
    font-family: rubik, sans-serif;
    color: #297373;
    background-color: #000000;
    padding: 10px;
    font-size: 150%;
}

.nav-bar a:link {
    color: #297373;
}


.nav-bar a:visited {
    text-decoration: none;
    color: #297373;
}

.nav-bar a {
    text-decoration: none;
    cursor: pointer;
}

.nav-bar a:hover {
    background-color: #fff;
}

#menu {
    overflow: hidden;
}


#menu #home {
    line-height: 100px;
}

li {
    float: right;
    display: block;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}

/* Cover image*/

#main-image {
    width:  100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-text, #image-text h2 {
    color: #fff;
    opacity: 0.9;
}
.cover-image {
    height: 115vh;
    position: relative;
    background: url('../assets/images/Cover\ image\ 1.jpg') no-repeat center;
    object-fit: contain;
}

/* cover image text */

#image-text {
    font-family: karla, sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    justify-content: center;
    display: flex;
    position: relative;
}

/* did you know and about section */

#did-you-know {
    background-color: #121113;
    color: #DC851F;
    text-align: center;
    font-size: 1.5rem;
}

.about-section {
    text-align: center;
    font-size: 1.5rem;
}

#about {
    background-color: #297373;
    color: #121113
}

/* Training Section */

#training {
    background-color: #CFDBD5;
    color: #121113;
}


table, th, td {
    color: #121113;
    border: 3px solid;
    padding: 5px;
}

table {
    height: 70%;
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 80px;
}

tr:nth-child(even) {
    background-color: rgb(116, 114, 114, 0.3);
}

/* Sign-up Section */

#sign-up {
    background: url('../assets/images/sign\ up\ page\ image.jpg') no-repeat center;
    color: #DC851F;
    text-decoration: none;
    font-size: 1.5rem;
    object-fit: contain;
    justify-content: center;
    display: flex;
}

#sign-up div {
    display: block;
}

input {
    padding: 10px 10px;
    display: block;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #fff;
    font-size: 20px;
    background: #DC851F;
    font-weight: bold;
}

.submit {
    border: 3px solid #fff;
    color: #DC851F;
    padding: 10px 15px;
    background: #fff;
    cursor: pointer;
    width: 256px;
}


/* footer */

footer {
    background-color: #121113;
    color: #297373;
    text-align: center;
}
 
footer ul {
    display: inline-block;
}

.social-networks {
    color: #297373;
    font-size: 150%;
    padding: 5px;
}

 footer a:visited {
    text-decoration: none;
    color: #297373;
}

/* Media Queries */

@media screen and (max-width: 379px) {
    * {
        margin: 0; 
        padding: 0;
        border: 0;
}

.nav-bar {
    overflow: hidden;
    display: block;

}

    #did-you-know {
        text-align: left;
        padding: 20px;
    }
    
    #about {
        padding: 20px;
        text-align: left;
    }
    
    #training {
        padding: 20px;
        text-align: left;
    }

}

@media screen and (max-width: 600px) {
    * {
        margin: 0; 
        padding: 0;
        border: 0;
}

.nav-bar {
    overflow: hidden;
    display: block;
}

#did-you-know {
    text-align: left;
    padding: 20px;
}

#about {
    padding: 20px;
    text-align: left;
}

#training {
    padding: 20px;
    text-align: left;
}


}


