@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Rubik:wght@300&display=swap');

* {
   margin: 0; 
   padding: 0;
   border: 0;
}
body {
    font-family: Karla, sans-serif
    }

 /* Headings and logo*/

h1, h2 {
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000
}

#logo {
    float: left;
    font-size: 100%;
    margin: 0px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    
}

/* Navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 3px;

}

#menu #logo {
    line-height: 100px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin: 0 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}

#menu a {
    color: inherite;
    border: 1px solid
}

/* Cover image*/

#cover {

}

#cover-text #cover-text h2 {

}

#cover-image {
    height: 600px;
    width: 100%;
    background: url('../assets/images/cover\ image\ option1\ .jpg')
}

